@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #9EF8EE, #22BABB, #348888);
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(43, 112, 112, 0.507);
    width: 800px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F24405;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(148, 43, 5, 0.678);
}

h2 {
    color: #FA7F08;
}

h3 {
    color: #a05305;
}

p {
    text-align: justify;
}