@charset "UTF-8";

@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf); format(opentype);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    background-color: bisque;
    margin: 0px;
}

header {
    background-color: aliceblue;
    background-image: linear-gradient(to bottom, #3cee63, #0e6922);
    padding: 2px 0px 20px 0px;
}

nav {
    background-color: #0e6922;
    padding-bottom: 5px;
}

a {
    color: rgb(0, 224, 0);
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

h2 {
    color: #0e6922;
}

main {
    background-color: aliceblue;
}

footer {
    background-color: rgba(66, 66, 66, 0.993);
    color: white;
    text-align: center;
}